/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    padding: 0;
    background-color: #581D22;
    font-family: 'Mitr', sans-serif;
  }
  .customDialog {
    background-color: #401519 !important;
    color: #fff !important;
  }
  .p-dialog .p-dialog-header{
    background-color: #401519 !important;
    color: #fff !important;
  }
  .p-dialog .p-dialog-footer{
    background-color: #401519 !important;
    color: #fff !important;
  }